
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  font-weight: 300;
  width: 100%;
}
body >aside{
  color: var(--white);
  text-align: center;
}
:root{
  --black:#00010d;
  --white:white;
  --grey:#151515cd;
  --grey2:#181818;
  --gold:#FFD700  ;
  --fundoTexto: #DCDCDC;
  
  --text1:1.3rem;
}


.horizontalDivisor{
  width: 85%;
  height: 1px;
  margin: 1rem auto;
  background: var(--gold);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}
header{
  position: absolute;
  width: 100%;
}
.containerHeaderContent{
  display: flex;
  justify-content: space-between;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  font-weight: 300;
  padding-bottom: .5rem;
}
footer >img{
  display: block;
  text-align: center;
  width: 100%;
  height:13rem;
}
.containerContentFooter{
  display: flex;
  gap: 3rem;
  margin: 1rem 0 2.5rem 0;
}
.boxContentFooter{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: .8rem;
}
.containerSocialMedia{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 80%;
}
.containerSocialMedia > img{
  width: 3.5rem;
}

.containerPresentaion{
  position: relative;
  border: 1px transparent solid;
  width: 100%;
  height: 100%;
}
.containerPresentaion img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .8;
}

.boxTextPresentation{
  margin: 3rem 0 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  letter-spacing: 2px;
}
.boxTextPresentation aside{
  margin-block: 0rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--white);
}
.boxTextPresentation p{
  color: var(--white);
  font-size: var(--text1);
}
.boxTextPresentation a{
  width: 6rem;
} 
.boxTextPresentation a button{
  border: .5px white solid;
  background: none;
  outline: none;
  color: var(--white);
  padding: 10px;
  width: 6rem;
  font-weight: 300;
}



.containerDiscover{
  padding-block: 0rem 1.5rem;
  position: relative;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  margin: 2rem 0rem;
}
.containerDiscover > img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  opacity: .5;
}
.containerDiscover article{
  text-align: center;
  color: var(--white);
}
.containerDiscover article p{
  padding: 0px 20px;
}

.containerDishes{
  position: relative;
  overflow: hidden;
  width: 100%;
}
.containerDishes > img{
  position: absolute;
  object-fit: cover;
  width: 120%;
  height: 120%;
  z-index: -1;
  opacity: .5;
}
.containerContentDishes{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.containerContentDishes h3{
  text-align: center;
  color: var(--white);
}

.boxDishesBtns{
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--white);
  margin-top: 0.5rem;
}
#titleBR{
  color: var(--gold);
}

.boxDishesContent{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  max-width: 100%;
  overflow-x: scroll;
  padding-inline: 1rem;
}

.dishesContent{
  min-width: 75%;
  height: 22.3em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 2rem 0.5rem;
  background: #ffffff45;
  border-radius: 15px;
}
.dishesContent img{
  width: 100%;
  height: 14rem;
  object-fit: cover;
}
.dishesContent p{
  color: white;
  font-weight: 500;
}
.dishesContent div{
  display: flex;
  
  align-items: center;
  padding-inline: 1rem;
}
.dishesContent div article article{
  color: var(--gold);
  font-size: 1.5rem;
}

.portugues{
  display: none;
}
.italiano{
  display: none;
}

.containerDifferential{
  background: var(--grey);
}

.titlesDifferential{
  text-align: center;
  color: var(--white);
}
.titlesDifferential aside{
  padding: 0 2rem;
}
.boxContentDifferential{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
.boxContentDifferential p{
  padding: 0 2rem;
}
.boxContentDifferential img{
  width: 8rem;
}


.backgroundAboutUs{
  position: relative;
  border: 1px transparent solid;
  width: 100%;
  height: 100%;
  margin: 3rem auto;
}
.backgroundAboutUs > img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .6;
}

.containerAboutUsContent{
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.containerAboutUsContent img{
  width: 200%;
  height:21.5rem;
  object-fit: cover;
}
.containerAboutUsContent article{
  background: var(--grey);
  padding: 1rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.containerAboutUsContent article h4{
  color:var(--white);
  font-size: var(--text1);
}
.containerAboutUsContent article p{
  color: var(--white);
}
.containerAboutUsContent article span{
  color: var(--gold);
}

.containerAvaliations{
  background: var(--grey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentAvaliations{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.boxContentAvaliations{
  margin-block: 1rem 2rem;
  margin-inline: auto;
  width: 80%;
  background: var(--grey2);
  padding-block: 2rem 1.3rem;
  position: relative;
  -webkit-box-shadow: -10px 10px 6px 0px black;
-moz-box-shadow: -10px 10px 6px 0px black;
box-shadow: -10px 10px 6px 0px black;
}
.boxContentAvaliations > img{
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: -46%;
  right: -25%;
}
.boxContentAvaliations p{
  margin-top: 1.3rem;
  text-align: left;
  width: 65%;
  padding-inline: 21px;
}
.boxContentAvaliations div{
  border: 1px var(--gold) solid;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 14rem;
  text-align: center;
  margin: 2rem auto;
}
.boxContentAvaliations div svg{
  width: 10rem;
  height: 10rem;
}
.boxContentAvaliations aside{
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
.boxContentAvaliations aside span{
  font-weight: 600;
  font-style: italic;
}
.hideImage{
  overflow: hidden;
}

.containerModalAvaliation{
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-65%, -50%);
  opacity: 0;
  z-index: -1;
}
.containerModalAvaliation form{
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:.5rem;
  position: relative;
  background: var(--grey2);
  width: 20rem;
  color: var(--white);
  padding: 3rem .5rem 2rem .5rem;
  border: .5px var(--gold) solid;
}
.containerModalAvaliation form >p{
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
.containerModalAvaliation form >svg{
  position: absolute;
  object-fit: cover;
  top: 15px;
  right: 15px;
}
#closeBtn{
  width: 3rem;
  height: 3rem;
}
.boxInputAvaliation{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: left;
}
.boxInputAvaliation textarea{
  border: .5px var(--white) solid;
  background: none;
  outline: none;
  color: var(--white);
}
.boxInputAvaliation input{
  border: none;
  background: none;
  outline: none;
  border-bottom: .5px var(--white) solid;
  color: var(--white);
}
.boxInputAvaliation input:focus{
  border: none;
  border-bottom: .5px var(--gold) solid;
}
.boxInputAvaliation input:valid{
  border: none;
  border-bottom: .5px var(--gold) solid;
}

.boxModalStars{
  text-align: center;
  unicode-bidi: bidi-override;
  color: var(--gold);
  direction: ltr;
}
.contentStarsModal{
  display: inline-block;
  font-size: 3rem;
}
#btnAvaliation{
  border: .5px var(--gold) solid;
  background: none;
  outline: none;
  color: var(--white);
  padding: 1rem;
  margin: auto;
  white-space: nowrap;
  transition: .3s ease-in-out;
}
#btnAvaliation:disabled{
  opacity:.5;
}
#btnAvaliation:enabled:hover{
  background: var(--gold);
  color: var(--white);
  margin-bottom: 1.5rem;
  padding: 6px;
  color: var(--grey);
}
.boxInput input:focus{
  border: .5px var(--gold) solid
  ;
}
.boxInput input:valid{
  border: .5px var(--gold) solid;
}

.boxInput label{
  color: var(--gold);
  margin-left:.5rem;
  margin-bottom: .5rem;
  font-weight: 400;
}

.boxInput textarea{
  background: none;
  border: .5px white solid;
  outline: none;
  color: var(--white);
  margin-bottom: 1.5rem;
  padding: 6px;
}

@media screen and (min-width:720px){
 
  .boxTextPresentation a{
    width: 10rem;
  }
  .boxTextPresentation a button{
    font-size: 1.5rem;
    width: 10rem;
    padding: 15px;
  }
  .boxTextPresentation p{
    color: red;
    font-size: 3rem;
  }
  .boxTextPresentation aside{
    font-size: 2rem;
  }
  
  .containerAboutUsContent{
    flex-direction: row;
  }
  .containerAboutUsContent img{
    height: 27.5em;
    width: 50%;
  }
  .containerAboutUsContent article{
    height: 24rem;
    width: 50%;
  }
  
  .containerBoxContentDifferential{
    display: flex;
    justify-content: space-around;
  }
  .boxDishesContent{
    width: 100%;
    overflow: hidden;
    gap: 0rem;
  }
  .dishesContent{
    min-width: 25%;
    height: auto;
  }
  
  .boxContentAvaliations{
    width: 18rem;
  }
  .boxContentAvaliations div{
    height: 4rem;
  }
  .boxContentAvaliations div svg{
    width: 6rem;
    height: 6rem;
  }
  
  .contentAvaliations{
    flex-direction: row;
    width: 90%;
    gap: 3rem;
    padding-inline: 2rem;
  }
  
  footer{
    flex-direction: row;
    padding-inline: 5rem;
    justify-content: space-between;
    align-items: start;
  }
  footer > img{
    width: 10rem;
  }
  .containerContentFooter{
    justify-content: space-around;
  }
  .boxContentFooter{
    gap: 1rem;
  }
  .containerSocialMedia{
    width: auto;
    gap: 2rem;
  }
}